.wrapper-bottom {
    justify-content: center;
    background-color: #EDEFEE;;
    color: #000;
}

#footer-columns {
    display: flex;
    padding-top: 20px;
    justify-content: space-between;
    flex-direction: row;
    max-width: 960px;
    margin: 10px auto;
    flex-wrap: wrap;
   }



.footermenu {
    flex-direction: column;
    flex: 1 1 0;
    text-align: left;
    color: #000;
    padding: 30px;
     text-decoration: none;
    }

.footermenu li {
    font-family: 'Karla', sans-serif;
    font-weight: 400;
    font-size: 14pt;
    line-height: 150%;
}

.footermenu a {
    text-decoration: none;
    text-align: center;
    color: #000;
}

.footermenu 

.footermenu ul.social li{
    flex: 1 1 0;
    justify-content: center;
}


