.wrapper-header {
  display: flex;
  justify-content: center;
  background-color: #495E57;
  color: #fff;
  margin-bottom: 40px;
  margin-left: auto;
  margin-right: auto;
}

#hero {
  max-width: 960px;
  padding-top: 40px;
  display: flex;
  justify-content: space-between;
  flex-direction: row;
}

.intro {
  flex-direction: column;
  flex: 1 1 0;
 }


 

#hero p {
  padding: 20px 0;
  font-family: 'Karla', sans-serif;
  font-weight: 400;
  font-size: 16pt;
  line-height: 150%;
  max-inline-size: 35ch;
  text-align: left;
    }

  
.headerimage {
  display: flex;
  position: relative;
  flex: 1 1 0;
  justify-content: flex-end;
  flex-wrap: wrap;
}

.headerimage img {
  object-fit: contain;
  max-width: 60%;
  border-radius: 16px;
  transform: translate(0px, 20px); 
  }



  @media screen and (min-width: 640px) {
    #hero {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
    }
  
    .intro {  
    flex: 1 1 1;
  }

  

  
  }