
.wrapper-main {
  width: 100%;
  max-width: 960px;
  margin-top: 0px;
  margin-bottom: 40px;
  margin-left: auto;
  margin-right: auto;
  padding-top: 40px;
}

#welcome {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-bottom: 20px;
  
}









#cards {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  justify-content: space-between;
}


#card {
  flex: 1 1 0;
  background-color: #EDEFEE;
  border-top-left-radius: 16px;
  border-top-right-radius: 16px;
  flex-direction: column;

}

article {
  display: flex;
}

.price {
  text-align: end;
}

.card-content {
  margin-bottom: 20px;
  margin-top: 0;
  padding-left: 20px;
  padding-right: 20px;

}

.card-content h3 {
  padding-bottom: 10px;
}


picture .thumbnail {
  position: relative;
  overflow: hidden;
  cursor: pointer;
  padding-bottom: 20px;

}


picture img {
  display: flex;
  max-width: 100%;
  max-height: fit-content;
  min-height: 20rem;
  object-fit: cover;
  border-top-left-radius: 16px;
  border-top-right-radius: 16px;
  border-bottom-left-radius: 0%;
  border-bottom-right-radius: 0%;
  padding-bottom: 20px;
}



.bicycleicon {
  color: #495E57;
  font-size: 28pt;
}

.delivery {
  font-family: 'Karla', sans-serif;
  font-weight: 400;
  font-size: 16pt;
  line-height: 150%;
  padding-bottom: 50px;
  display: flex;                 
  align-items: flex-end;
  padding-left: 20px;
  margin-top: auto;

}




@media screen and (min-width: 640px) {
  #cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  #card {  
  flex: 1 1 1;
  transition: flex-basis 0.2s linear;
}



  #welcome {  
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

  }
}