/* BookingForm */

.form-wrapper {
    display: flex;
    max-width: 600px;
    flex-direction: column;
    margin: 100px auto;
    padding: 40px;
    background-color: #EDEFEE;
  }


main {
    margin: 10px auto;
}
  
h2#bookingform-section {
    max-height: 100%;

}
  
#bookingform-section {
    background-color: white;
}
  
.booking-description {
    display: flex;
    max-width: 600px;
    flex-direction: column;
}
  
.booking-wrapper {
    display: flex;
    padding-bottom: 50px;
    align-items: center;
    flex-direction: column;
    margin: 40px auto;
    background-color: #fff;
}

.css-k008qs {
    display: flex;
    justify-content: center;
}
  
  
fieldset{
    background-color: #fff;
    margin: 0 auto;
    padding: 40px;
    border-radius: 16px;
    border-color: #495E57;
    border-style: groove;
}
  
input.input-error,
select.input-error {
    border-color: red;
}
  
input {
    width: 100%;
    font-family: 'Karla', sans-serif;
    font-weight: 400;
    font-size: 16pt;
    text-align: left;
    background-color: #495E57;
    color: #fff;
    padding: 12px 14px;
    border-radius: 16px;

}

.formgroup{
    margin-bottom: 20px;
}
  
.selected {
    background-color: #495E57;
    color: #fff; 
}
  
input:active {
    color: #EE9972;
    box-shadow: 0px 0px 1px rgba(0, 0, 0, 0.2);
    background-color: #fff;
}
  
input:hover {
    background-color: #fff;
    box-shadow: 0px 0px 1px rgba(0, 0, 0, 0.2);
    color: #EE9972;
}

input[type="date"]::-webkit-calendar-picker-indicator {
    filter: invert(1);
}
  
select {
    width: 100%;
    font-family: 'Karla', sans-serif;
    font-weight: 400;
    font-size: 16pt;
    text-align: left;
    background-color: #EDEFEE;
    color: #495E57;
    border-radius: 16px;
}
  
option {
    width: 100%;
    font-family: 'Karla', sans-serif;
    font-weight: 400;
    font-size: 16pt;
    line-height: 150%;
    text-align: left;
    background-color: #495E57;
    color: #fff;
    padding: 12px 14px;
    border-radius: 16px;
}
 
::placeholder {
    color: #fff;
}

option:active {
    background-color: #495E57;
    color: #fff;
    box-shadow: 0px 0px 1px rgba(0, 0, 0, 0.2);
}
  
option:hover {
    box-shadow: 0px 0px 1px rgba(0, 0, 0, 0.2);
    background-color: #495E57;
    color: #fff;
}
  
select:active {
    color: #EE9972;
    box-shadow: 0px 0px 1px rgba(0, 0, 0, 0.2);
}
  
select:hover {
    box-shadow: 0px 0px 1px rgba(0, 0, 0, 0.2);
    background-color: #fff;
    color: #EE9972;
}
  
select {
    font-family: 'Karla', sans-serif;
    font-weight: 400;
    font-size: 16pt;
    text-align: left;
    background-color: #495E57;
    color: #fff;
    padding: 12px 12px;
    border-radius: 16px;
    border-color: black;
    border-width: 2px;
    border-style: inset;
    border-color: black;
}
  
label {
    font-family: 'Karla', sans-serif;
    font-weight: 500;
    font-size: 16pt;
    line-height: 150%;
    text-align: left;
    width: 400px;
    padding-left: 2px;
    margin-top: 20px;
}



.error {
    padding-bottom: 4px;
    color: red;
}

.booking-btn[type="submit"] {
    font-family: 'Karla', sans-serif;
    font-weight: 500;
    font-size: 18pt;
    border-radius: 16px;
    border-color: black;
    color: black;
    background-color: #F4CE17;
    margin-top: 50px;
    padding: 12px 24px;
    transition: .4s;
    cursor: pointer;
    width: 300px;
    height:60px;
}


  
.booking-btn[type="submit"]:active {
    box-shadow: 0px 0px 1px rgba(0, 0, 0, 0.2);
}
  
.booking-btn[type="submit"]:hover {
    box-shadow: 0px 0px 1px rgba(0, 0, 0, 0.2);
    color: #495E57;
  }

  .booking-backbutton[type="submit"] {
    font-family: 'Karla', sans-serif;
    font-weight: 500;
    font-size: 18pt;
    border-radius: 16px;
    border-color: black;
    color: black;
    background-color: #F4CE17;
    margin-top: 50px;
    padding: 12px 24px;
    transition: .4s;
    cursor: pointer;
    width: 200px;
    height:60px;
}
  
  
  p.error-message.hidden {
    font-size: small;
    color: red;;
  }

  /* for smaller screens */

@media screen and (max-width: 940px) {

    #bookingform-section {
        margin-top: 2px;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-top: 0;
    }

    .form-wrapper {
    
        margin: 20px auto;

      }

    .booking-description {
        display: flex;
        max-width: 90%;
        flex-direction: column;
        align-items: center;
    }

    .bookingform-container {
        margin-top: 50px;
    }

    .booking-title {
        padding-bottom: 20px;
    }

    fieldset {
        width: 20%;
    }

    .css-zqa35e {
        padding-left: 0px;
    }

    .css-k008qs {
        display: flex;
        justify-content: center;
    }

  }