
.nav-layout {
    display: flex;
    align-items: center;
    justify-content: space-between;
    vertical-align: baseline;
    background-color: #fff;
    max-width: 960px;
    margin: 0 auto;
}


.nav-menu {
    display: flex;
    align-items: center;
    justify-content: space-between;    
    background-color: #fff;
    max-width: 960px;
    padding-top: 20px;
    margin: 0 auto;
}

.nav-menu a {
    display: inline-block;
    text-decoration: none;
    font-family: 'Karla', sans-serif;
    font-weight: 600;
    font-size: 16pt;
    color: black;
    padding: 12px;
    margin-top: 10px;
    
}



  
.logo {
    flex: 1;
    padding-top: 20px;
  
}
  
.nav-menu a.active {
    background-color: #fff;
    color: #495E57;
}
  
.nav-menu a:hover {
    background-color: #495E57;
    color: #fff;
}
 
.hamburger {
    display: none;
    align-self: flex-end;
}
  
.icon {
    display: none;
    align-self: flex-end;
}


/* for smaller screens */

@media screen and (max-width: 940px) {

    .hamburger {
        display: block;
        width: 2rem;
        height: 2rem;
    }
  
    .icon {
        display: block;
        color: black;
        width: 2rem;
        height: 2rem;
    }
  
    .root-layout {
        margin: 0 auto;
    }
  
    nav {
        padding: 20px;
    }


    .nav-layout {
        display: flex;
        align-items: center;
        justify-content: space-between;
        flex-direction: column;
        background-color: #fff;
        max-width: 960px;
    
        margin: 0 auto;
    }

    
    .nav-menu a {
        display: inline-block;
        text-decoration: none;
        font-family: 'Karla', sans-serif;
        font-weight: 600;
        font-size: 16pt;
        color: black;
        padding: 12px;
        margin-top: 10px;
        
    }
  
    .nav-menu {
        position: absolute;
        display: flex;
        align-self: center;
        flex-direction: column;
        align-items: center;
        right: -150%;
        background: #fff;
        transition: 0.4s ease-in-out;
        margin-bottom: 0px;
        padding-top: 20px;
        margin-top: 100px;
    }
        
    .nav-menu.active {
        padding: 20px;
        margin-top: 100px;
   }
  
    .active {
        right: 0;
    }

    .nav-menu:hover {
        font-size: 2rem;
        color: #495E57;
        margin-top: 100px;;
    }
    
}